header {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 150px 1fr 240px;
    grid-template-rows: 1fr;
}

header>h1 {
    border: 1px solid red;
    padding: 0.5em;
    text-align: center;
    position: absolute;
    width: 100%;
}

#logo {
    border: 1px solid red;
    grid-column: 1;
    grid-row: 1;
}

#control {
    border: 1px solid red;
    grid-column: 3;
    grid-row: 1;
}

main {
    /* border: 1px solid red; */
}

.modal {
    /* border: 1px solid red; */
}