* {
    margin: 0px;
    padding: 0px;
}

header{
    position: fixed;
    width: 100%;
}

#header-content {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 150px 1fr 240px;
    grid-template-rows: 1fr;
}

#header-content>h1 {
    border: 1px solid red;
    text-align: center;
    position: absolute;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

#logo {
    border: 1px solid red;
    background-color: white;
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#control {
    border: 1px solid red;
    background-color: white;
    grid-column: 3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#btnExitGame {
    font-size: 1.5em;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

main {
    /* border: 1px solid red; */
    display: none;
}

.modal {
    /* border: 1px solid red; */
    display: none;
}